# Salin file ini menjadi .env dan masukkan kredensial Supabase Anda
SUPABASE_URL=https://vogafembwpzjgqxlamcv.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZvZ2FmZW1id3B6amdxeGxhbWN2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExMDEzNjIsImV4cCI6MjA5NjY3NzM2Mn0.zZFkB6BkBuZ6YtN41pKihNCwCym-udL7V9C-DtOS_js
